.test-attempts-content {
    .intro {
        margin: 1%;
        font-size: 18px;
    }
    .test-attempts-wrapper {
        margin: 1%;
        position: relative;
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;

        .test-attempt {
            margin: 10px;
            border: solid rgba(0, 0, 0, 0.8) 1px;
            border-radius: 30px;
            position: relative;
            background: white;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

            a {
                position: relative;
                width: 80%;
                margin: 10px auto;
                display: block;
                color: black;
                text-decoration: none;
            }
            a:hover {
                color: red;
                text-decoration: none;
            }
        }
    }
}


@media (max-width: 700px) {
    .test-attempts-content {
        .test-attempts-wrapper {
            grid-template-columns: 50% 50%;
        }
    }
}
